server:
  port: 8908

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: https://gambit-discovery-service-fantastic-cat.cfapps.io/eureka
    register-with-eureka: true

logging:
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
      hibernate: INFO
spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
  aop:
    auto: true
  application:
    name: batch-service



