server:
  port: 8908

# H2 database during development
spring:
  #datasource:
    #driver-class-name: oracle.jdbc.driver.OracleDriver
    #url: jdbc:oracle:thin:@localhost:1521:xe
    #username: dan
    #password: pickles
  jpa:
    database-platform: org.hibernate.dialect.Oracle10gDialect
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
    hibernate:
      ddl-auto: none
  aop:
    auto: true
  application:
    name: batch-service

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
      
logging:
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
      hibernate: INFO